In [1]:
import pandas as pd

In [6]:
data = {
  'Name' : ['Alice', 'Bob', 'Charlie', 'David', 'Harish', 'Jayanth', 'Kevin','Mukul', 'Sashi', 'Prasad'],
  'Age' : [19,18,20,21,22,23,19,20,20,19],
  'Number' : [1,2,3,4,5,6,7,8,9,10],
  'Marks' : [15,14,16,12,18,20,17,19,19,19],
  'City' : ['New York', 'New Jersey', 'Sydney', 'Dubai', 'Washington','Vietnam', 'Singapore', 'England', 'Denmark', 'Scotland']
}

In [7]:
df = pd.DataFrame(data)

In [8]:
print(df)

      Name  Age  Number  Marks        City
0    Alice   19       1     15    New York
1      Bob   18       2     14  New Jersey
2  Charlie   20       3     16      Sydney
3    David   21       4     12       Dubai
4   Harish   22       5     18  Washington
5  Jayanth   23       6     20     Vietnam
6    Kevin   19       7     17   Singapore
7    Mukul   20       8     19     England
8    Sashi   20       9     19     Denmark
9   Prasad   19      10     19    Scotland

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Age     10 non-null     int64
 2   Number  10 non-null     int64
 3   Marks   10 non-null     int64
 4   City    10 non-null     object
dtypes: int64(3), object(2)
memory usage: 528.0+ bytes

In [10]:
print(df.describe())

             Age    Number      Marks
count  10.000000  10.00000  10.000000
mean   20.100000   5.50000  16.900000
std     1.523884   3.02765   2.601282
min    18.000000   1.00000  12.000000
25%    19.000000   3.25000  15.250000
50%    20.000000   5.50000  17.500000
75%    20.750000   7.75000  19.000000
max    23.000000  10.00000  20.000000

In [11]:
observation = df.loc[3]

In [12]:
print(observation)

Name      David
Age          21
Number        4
Marks        12
City      Dubai
Name: 3, dtype: object

In [13]:
null_values = df.isnull()

In [14]:
print(null_values)

    Name    Age  Number  Marks   City
0  False  False   False  False  False
1  False  False   False  False  False
2  False  False   False  False  False
3  False  False   False  False  False
4  False  False   False  False  False
5  False  False   False  False  False
6  False  False   False  False  False
7  False  False   False  False  False
8  False  False   False  False  False
9  False  False   False  False  False